<div class="m-5">
    <table class="table table-bordered table-striped table-custom-border">
      <thead>
        <tr>
          <th scope="col">ISBN</th>
          <th scope="col">Book Name</th>
          <th scope="col">Author</th>
          <th scope="col">Publication</th>
          <th scope="col">Qty.</th>
          <th scope="col">Price</th>
          <th scope="col">Branch</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">1</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center text-danger">&#10006;</td>
        </tr>
        <tr>
          <td scope="row">2</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center text-danger">&#10006;</td>
        </tr>
        <tr>
          <td scope="row">3</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center text-danger">&#10006;</td>
        </tr>
        <tr>
          <td scope="row">4</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center text-danger">&#10006;</td>
        </tr>
        <tr>
          <td scope="row">5</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center text-danger">&#10006;</td>
        </tr>
      </tbody>
    </table>
  </div>
