<div class="container-fluid" style="background-color: #c4d3f5;">
    <div class="main-div">
        <h1 class="text-center fw-bold text-primary">Digital Library</h1>
        <div class="d-flex justify-content-center align-items-center vh-100">
            <form class="border border-2 p-5 rounded-5 bg-white login">
                <div class="mb-3 row login-page">
                    <label for="inputemail" class="col-sm-2 col-form-label fw-bold text-danger">Username</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control ms-auto w-75" id="inputemail">
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label fw-bold text-danger">Password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control ms-auto w-75" id="inputPassword">
                    </div>
                  </div>
                 <div class="text-end">
                    <div class="btn btn-primary log-btn" routerLink="/dashboard">Login</div>
                 </div>
            </form>
        </div>
    </div>
</div>



